nav {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #242222;
    margin: 0;
}

nav p {
    display: flex;
    margin: 0;
    color: rgb(238, 228, 137);
    font-size: 60px;
    font-weight: bold;
    text-align: left;
}

#pic img {
    width: 55px;
    height: auto;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
    padding: 7px;
}

nav input[type="text"] {
    display: inline-block;
    min-width: 1100px;
    padding: 13px;
    margin-bottom: 13px;
}

nav label {
    color: rgb(238, 228, 137);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

#hbt button {
    background-color: rgb(238, 228, 137);
    color: #1f1f1f;
    font-weight: 700;
    font-size: 20px;
    border-radius: 7px;
    padding: 8px 8px;
    margin-left: 5px;
    margin-bottom: 13px
}

#hbt button:hover {
    background-color: #1f1f1f;
    color: rgb(238, 228, 137);
    border: 2px solid rgb(238, 228, 137);
}

body {
    background-color: #1f1f1f;
    font-family: monospace;
    margin: 0;
}
main {
    padding: 20px;
}

main p {
    color: #ffffff;
    font-size: 20px;
    font-family: tahoma;
    line-height: 1.3;
    margin: 0 20px 20px 20px;
    font-weight: 500;
}

h1 {
    color: rgb(238, 228, 137);
    text-align: center;
    font-size: 50px;
}

#h2p {
    color: mediumblue;
    font-size: 30px;
    text-transform: uppercase;
}

.posts a {
    text-decoration: none;
    color: lightskyblue;
}

.posts a:hover {
    text-decoration: underline;
}

.like {
    background-color: #629c6a;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 10px;
    font-family: monospace;
    font-weight: 700;
}

.like:hover {
    background-color: #ffffff;
    color: #629c6a;
}

.dislike {
    background-color: rgba(255, 127, 80, 0.767);
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 10px;
    font-family: monospace;
    font-weight: 700;
}

.dislike:hover {
    background-color: #ffffff;
    color: rgba(255, 127, 80, 0.767);
}

#bt {
    display: flex;
    justify-content: right;
}

footer {
    padding: 55px 20px 0px 5px;
}

footer section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

footer p {
    text-align: right;
    font-size: 13px;
}

footer a {
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    color: lightskyblue;
    text-transform: uppercase;
    font-weight: 600;
}

footer ul {
    list-style-type: none;
}

footer a:hover {
    text-decoration: underline;
}