body {
    background-color: rgb(0, 12, 44);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-size: 25px;
    background: none;
    color: rgb(187, 153, 1);
    border: 2px solid;
    padding: 20px 20px;
    transition: all 0.2s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translatey(-0.25em);
    cursor: pointer;
}