body {
    font-family: open sans, sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul,
li {
    display: inline;
    padding: 0;
    margin: 0;
}

ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    h1 {
        font-size: 4em;
    }

    nav,
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.5em;
    }
} 