body {
  margin: 0;
}

nav {
    background-color: rgb(218, 218, 218);
    padding: 1px 0px 0px 20px;
    border-bottom: 1.5px solid black;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

img {
 width: 30%;
 height: 500px;
 margin: 1.4%;
}