h1{
  text-align: center;
  font-family: 'BigBottomCartoonRegular';
  font-weight: normal;
  font-style: normal;
  }

.art{
  margin: auto;
}

td{
background-color: black;
height: 300px;
width: 150px;
}

#one{
  background-color: #242038;
}

#two{
  background-color: #9067C6;
}

#three{
  background-color: #8D86C9;
}

#four{
  background-color: #CAC4CE;
}

#five{
  background-color: #F7ECE1;
}